<form action="" method="POST">
    <section>
        <label for="email">E-Mail Address
            <input type="email" name="email" id="">
        </label>
    </section>
    <section>
        <label for="password">password
            <input type="password" name="password" id="">
        </label>
    </section>
    <section>
        <label for="rememberMe">
            <input type="radio" name="rememberMe" id="">
            Remember Me</label>
    </section>
    <br>
    <%- include('./baseButton.ejs', pageGuide)%>
</form>